services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: minegnk-web
    ports:
      - "3000:80"
    restart: unless-stopped
    volumes:
      - ./index.html:/usr/share/nginx/html/index.html:ro
      - ./css:/usr/share/nginx/html/css:ro
      - ./js:/usr/share/nginx/html/js:ro
    networks:
      - minegnk-network

networks:
  minegnk-network:
    driver: bridge
